<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <form method="POST" action="/result">
            <div class="form-group">
              <label for="number">Your number</label>
              <input type="number" name="number" class="form-control form-control-lg">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <center>
          <img src="https://scontent.fbkk12-1.fna.fbcdn.net/v/t1.0-9/23031185_1143537719112159_8535212920749299896_n.jpg?_nc_cat=101&_nc_eui2=AeHJfPCkPHXflUFrfCq0Oh3U-G2hJhTBWXU9RwuGIFeuzH8j0XCig3S9yq91m_e38EG2np6RzYnlVlM-lt7kvK1t_AD7Qtr3FjH8DBJhQgMeCQ&_nc_ohc=VP0U3O2ZM-MAQl5qxxZVN2FowGvgzW4RRUGDUZVURIbIqFT0CfxYRNnjQ&_nc_ht=scontent.fbkk12-1.fna&oh=267971ca596585d9bc31fb28411c9554&oe=5E7085A9">
        </center>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
